body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #222;
  color: #ddd;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.App {
  width: 960px;
  margin: 0 auto;
}
h1 {
  color: tomato;
  font-size: 4em;
  letter-spacing: 2px;
}

button {
  margin: 10px 15px;
  width: 190px;
  height: 43px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid #ccc;
  color: tomato;
  border-radius: 4px;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button:hover {
  color: #fff;
  border-color: #fff;
}
.content {
  text-align: left;
}

.card {
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0px 3px 10px rgba(187, 74, 74, 0.6);
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.card p {
  color: #999;
}
.card h3 {
  color: rgb(71, 154, 255);
}

.crawl {
  width: auto;
  text-overflow: ellipsis;
}
